/* ========== RESET E CONFIGURAÇÕES GERAIS ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    display: flex;
    background-color: #fff;
    height: 100vh;
    overflow: hidden;
}

/* ========== COMPONENTES GERAIS (REUTILIZÁVEIS) ========== */

.sidebar {
    width: 120px;
    background-color: #630063;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.logo-icon {
    width: 90px;
    margin-bottom: 50px;
    border-radius: 50%;
}

.icon {
    width: 60px;
    cursor: pointer;
}

.icon:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

.bottom-square {
    margin-top: auto;
    width: 30px;
    height: 30px;
    background-color: #4a4a4a;
}

/* ========== TELA: LISTA DE PRODUTOS ========== */

.main-content {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
    position: relative;
}

.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.search-box {
    display: flex;
    gap: 5px;
}

.search-box input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-box button {
    background: transparent;
    border: none;
    font-size: 18px;
}

.categoria {
    margin-bottom: 40px;
}

.categoria h2 {
    margin-bottom: 10px;
}

.produto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
    gap: 20px;
}

.produto-card {
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    text-align: center;
}

.produto-imagemAcai {
    width: 100%;
    height: 100px;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    background-image: url('../assets/acai.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px                                                                                                                                                               ;
}

.produto-imagemPastel {
    width: 100%;
    height: 100px;
    background-color: #d9d9d9;
    margin-bottom: 10px;
    background-image: url('../assets/pastel.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px                                                                                                                                                               ;
}

.quantidade {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 8px;
}

.quantidade button {
    width: 24px;
    height: 24px;
    border: none;
    background-color: #ccc;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.carrinho-fixo {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 90px;
    cursor: pointer;
}

.carrinho-fixo:hover {
    transform: scale(1.1);
    transition: transform 0.2s ease;
}

/* ========== TELA: HOME (PÁGINA INICIAL) ========== */

.home-page .main {
    flex: 1;
    display: grid;
    place-items: center;
}

.logo-central {
    width: 400px;
    max-width: 90%;
}

/* ========== TELA: CARRINHO / CHECKOUT ========== */

.carrinho {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.carrinho h2 {
    margin-bottom: 20px;
}

.itens-carrinho {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.item-carrinho {
    width: 200px;
    background-color: #f2f4f3;
    padding: 10px;
    border-radius: 6px;
}

.valores {
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.valores div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1;
}

.valores input {
    padding: 10px;
    border: 4px solid #630063;
    opacity: 0.7;
    border-radius: 4px;
    width: 400px;
}

.pagamento {
    margin-bottom: 30px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.opcoes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.opcao input[type="radio"] {
    display: none;
}

.opcao label {
    padding: 12px 24px;
    border: 4px solid #630063;
    opacity: 0.7;
    border-radius: 4px;
    background-color: white;
    color: #630063;
    cursor: pointer;
    transition: all 0.1s ease;
    font-weight: bold;
}

.opcao input[type="radio"]:checked+label {
    background-color: #630063;
    color: white;
}

.opcao label:hover {
    background-color: #e2cce2;
}

.botoes-carrinho {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.botoes-carrinho button {
    padding: 10px;
    font-weight: bold;
    border-radius: 4px;
    cursor: pointer;
    background-color: white;
    transition: background-color 0.2s;
    border: 4px solid #630063;
    opacity: 0.7;
    color: #630063;
    width: 100%;
}

.botoes-carrinho button:hover {
    background-color: #e2cce2;
}

.produtos-carrinho {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

hr {
    height: 1px;
    opacity: 0.3;
}

/* ========== TELA: ESTOQUE ========== */

.estoque-container {
    flex: 1;
    padding: 30px;
    overflow-y: auto;
}

.formulario-produto {
    display: flex;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
    flex-wrap: wrap;
}

select {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 250px;
}

.lista-produtos {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    background-color: #fdfdfd;
    max-height: 70vh;
    overflow-y: auto;
    padding-right: 10px;
}

.item-produto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f4f3;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 10px;
}

.info-produto {
    display: flex;
    gap: 20px;
    font-size: 14px;
}

.botoes-produto {
    display: flex;
    gap: 10px;
}

.botoes-produto button {
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    cursor: pointer;
}

.editar {
    background-color: #630063;
    color: white;
}

.remover {
    background-color: #630063;
    color: white;
}

.btn-amarelo {
    background-color: #FFD700;
    color: #000;
    font-weight: bold;
    padding: 10px 30px;
    border: none;
    border-radius: 6px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.2s ease;
}

.btn-amarelo:hover,
.editar:hover,
.remover:hover {
    opacity: 0.6;
}

.titulo-lista {
    text-align: center;
    margin: 20px 0;
    font-weight: bold;
}

/* ========== TELA: ADICIONAR/EDITAR PRODUTO ========== */

.form-card {
  background-color: #f2f4f3;
  padding: 20px;
  border-radius: 6px;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.form-group {
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}

.full-width {
  flex: 1 1 100%;
}

.form-group label {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 12px;
  color: #222;
}

.form-group input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.botoes {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 20px;
  margin-top: 20px;
}

.btn {
  padding: 10px 25px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btn:hover {
  opacity: 0.6;
}

.btn.cancelar {
  background-color: #750075;
  color: white;
}

.btn.confirmar {
  background-color: #f6c400;
  color: #000;
}


/* ========== RESPONSIVIDADE ========== */

@media (max-width: 768px) {
    .sidebar {
        width: 70px;
    }

    .icon {
        width: 30px;
    }

    .logo-icon {
        width: 50px;
        margin-bottom: 30px;
    }

    .top-bar h1 {
        font-size: 18px;
    }

    .produto-imagem {
        height: 80px;
    }

    .itens-carrinho {
        flex-direction: column;
        align-items: center;
    }

    .valores {
        flex-direction: column;
    }

    .botoes-carrinho {
        flex-direction: column;
    }

    .form-card {
        flex-direction: column;
    }
}